@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Kurale&family=Patrick+Hand&family=Shalimar&display=swap');

// =========================
// Variables
// =========================
$light-grey: #d3d3d3;
$charcoal: #495057;
$black: #282828;
$light-grn: #0cce6b;
$green: #52b788;
$emerald: #34a0a4;

// =========================
// Mixins
// =========================
@mixin body-font {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

// =========================
// Body/Main Styles
// =========================
* {
  box-sizing: border-box;
  transition: 150ms;
  margin: 0;
}

body {
  @include body-font();
  // background-color: #151516;
  background-image: url("https://i.imgur.com/gfDQjC2.jpg");
  background-position: center;
  background-size: cover;
  min-height: 102vh;
}

audio::-webkit-media-controls-enclosure {
  border: 2px solid green;
}

// =========================
// NavBar
// =========================
nav {
  border: 2px dashed orange;
  background-color: white;
  padding-bottom: 15px;

  h1 {
    text-align: center;
  }
}

// =========================
// Title
// =========================
.title {
  text-align: center;
  margin: 60px 0 0 80px;
  text-decoration: none;

  h1 {
    @include body-font();
    font-size: 40px;
    color: black;
  }
    h1:hover {
      color: white;
      text-shadow: 1px 1px 2px black, 0 0 25px $emerald, 0 0 5px $green;
    }
}

// =========================
// Tracks (Index)
// =========================
.tracks-container {
  border: 2px dashed red;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 2000px;

  .track {
    border: 1px solid $light-grey !important; 
    text-align: center;
    border: 2.5px solid;
    margin: 30px 30px;
    width: 500px;
    border-radius: 6px;
    padding: 20px 0;
    background-color: whitesmoke;
  
    a {
      text-decoration: none;
      color: $green;
    }
      a:hover {
        text-decoration: underline;
      }
    h2 {
      color: $charcoal;
      font-weight: 350;
      margin: 10px 0 15px 0;
    }
  }
    .track:hover {
      box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
      transform: translateY(-10px);
    }
}

input[type="radio"] {
  display: none;
}

#heart-icon {
  cursor: pointer;
  margin: 10px;
}
  #heart-icon:hover {
    transform: translateY(-10);
  }

// =========================
// Tracks (Show)
// =========================
.single-track {
  text-align: center;
  border: 3px solid $charcoal;
  border-radius: 4px;
  width: 90%;
  margin: 30px auto;
  padding: 50px;
  box-shadow: 10px 10px $green;
  display: flex;

  .left {
    border: 2px dashed blue;
    width: 50%;

    img {
      max-width: 500px;
      max-height: 500 px;
      box-shadow: 8px 10px 16px 0 rgb(0 0 0 / 20%);
    }
      img:hover {
      box-shadow: 8px 10px 16px 0 rgb(0 0 0 / 45%);
      transition: 0.2s ease-in-out;
      transform: scale(1.03);
      }
  }
  
  .right {
    border: 2px dashed orange;
    width: 50%;

    .buttons-container {
      margin-top: 60px;

      button {
        margin: 0 15px;
        padding: 20px 40px;
        border: none
      }
        button:hover {
          cursor: pointer;
          background-color: $green;
        }
        .delete-btn:hover {
          background-color: red;
          color: white;
        }
    }
  }
  
}

// =========================
// Form
// =========================
form {
  border: 2px solid $charcoal;
  border-radius: 8px;
  // background: rgba(0,0,0, 0.8);
  background: rgba(255,255,255, 0.8);
  width: fit-content;
  padding: 40px 60px;
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  
  h1 {
    font-size: 2.5em;
    margin-bottom: 30px; 
  }

  input {
    color: $black;
    margin: 10px;
    padding: 20px;
    background-color: $light-grey;
    border: none;
  }
    input:focus {
      outline: 1px solid $emerald;
      transition: none;
      background-color: #dcdcdc;
    }
  input[type="submit"] {
    cursor: pointer;
    background-color: $emerald;
    color: white;
    // border: none;
    border-radius: 8px;
    margin-top: 25px;
    width: 40%;
    align-self: center;
  }
    input[type="submit"]:hover {
      background-color: #277174;
    }
}